{erl_opts, [debug_info]}.
{profiles, [{brief, [{compiler_error_format, minimal}]}]}.
{deps, []}.

{pre_hooks,
    [{"(linux|darwin|solaris|win32)", compile, "make -C c_src --no-print-directory"},
     {"(freebsd)", compile, "gmake -C c_src --no-print-directory"}]}.

{post_hooks,
    [{"(linux|darwin|solaris|win32)", clean, "make -C c_src clean --no-print-directory"},
     {"(freebsd)", clean, "gmake -C c_src clean --no-print-directory"}]}.
